@use '@/styles/_vars.scss' as *;

@use 'sass:color';

.hobbyDataBubble {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: start;
    padding: 10px;
    min-width: 200px;
    width: 100%;
    aspect-ratio: 3;
    font-size: $text-md;
    color: $bubbleTextColor;

    .hobbyContinuers {
        font-size: $text-xl;
        font-weight: bold;
        color: $titleColor;
    }
}