@use '@/styles/_vars.scss' as *;

@use 'sass:color';

.hobbyBubble {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 10px;
  flex-grow: 1;
  aspect-ratio: 3/2;
  font-size: 18px;
  color: $bubbleTextColor;

  .title {
    font-size: $text-base;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}