@use '@/styles/_vars.scss' as *;

@use 'sass:color';

.hobbyBubble {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 10px;
  width: 100px;
  aspect-ratio: 3/2;
  gap: 10px;
  font-size: 18px;
  color: $bubbleTextColor;

  .Image {
    &:hover {
      cursor: pointer;
    }
  }
}