@use '@/styles/_vars.scss' as *;

.header {
    height: $headerHeight;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: [right] 78px [center] 1fr [left] 78px;
    font-family: $font-family;

    &>* {
        grid-row: 1;
    }

}

.search {
    grid-column: left;
    place-self: center;
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
        display: none;
    }
}

.userProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-family;
    gap: 5px;
    cursor: pointer;

    .profilePicture {
        border-radius: 50%;
        margin-right: 10px;
        object-fit: cover;
    }

    .initials {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $buttonColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: $text-md;
        color: white;
    }

    .userName {
        font-weight: 600;
        font-size: $text-md;
        color: $textColor;
        margin-right: 5px;
    }

    .profileContainer {
        display: flex;
        align-items: center;
    }
}

.menu {
    position: absolute;
    top: calc(80% - 5px);
    right: 0;
    padding: 5px;
    z-index: 10;
    width: 150px;
    justify-content: center;
}

.logo {
    grid-column: center;
    place-self: center;

    font-weight: 700;
    font-size: 35px;
    color: $primary;

    padding-bottom: 5px;

    span {
        color: $textColor;
    }
}

.nav {
    grid-column: center;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mobileNav {
    grid-column: right;
    display: flex;
    align-items: center;
    justify-content: center;

    .navIcon {
        position: static;
        cursor: pointer;
        z-index: 10;
    }

    &.open {
        .navIcon {
            position: fixed;
        }

        .nav {
            transform: translateX(0);
        }
    }

    &.closed {
        .nav {
            transform: translateX(100%);
        }
    }

    & .nav {
        position: fixed;
        height: 100vh;
        width: 50%;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        background-color: $grayBackground;
        color: $textColor;
        border-left: 1px solid $lightblueBorder;
        transition: all 0.2s ease-in-out;

        a {
            padding-block: 30px;
        }

    }
}


@media (min-width: $breakpoint-md) {}


@media (min-width: 1024px) {
    .header {
        height: $headerHeight;
        grid-template-columns: auto [right] 280px [center] auto [left] 280px auto;
    }

    .mobileNav {
        display: none;
    }

    .nav {
        display: flex;
    }

    .logo {
        grid-column: right;
    }

    .search {
        input {
            display: block;
        }

        .searchIcon {
            display: none;
        }
    }

}

@media (min-width: 1220px) {
    .header {
        grid-template-columns: auto [right] 335px [center] auto [left] 335px auto;
    }
}

@media (min-width: 1440px) {}