@use '@/styles/_vars.scss' as *;

.customBubble {
    color: $titleColor;
    background: $elementGradient;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    font-size: $text-xl;
    border-bottom: 1px solid $lightblueBorder;
    border-left: 1px solid $lightblueBorder;
    border-right: 1px solid $lightblueBorder;
    border-radius: 0px 0px 15px 15px;
  }