@use '@/styles/_vars.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: $grayBackground;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 400px;
  position: relative;
  font-family: $font-family;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: $text-md;
  cursor: pointer;
}

.title {
  font-size: $text-md;
  margin-bottom: 1rem;
  text-align: center;
  color: $primary;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid $lightblueBorder;
  border-radius: 4px;
  font-size: $text-sm;

  &::placeholder {
    color: $placeHolderColor;
  }
}

.submitButton {
  padding: 0.5rem;
  background: $buttonColor;
  color: $grayBackground;
  font-size: $text-md;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $buttonColor;
  }
}

.toggleButton {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.toggleButton small {
  cursor: pointer;
}

.googleButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleText {
  margin-right: 5px;
}
