@use '@/styles/_vars.scss' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: $grayBackground;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 400px;
  position: relative;
  font-family: $font-family;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: $text-md;
  cursor: pointer;
}

.title {
  font-size: $text-lg;
  margin-bottom: 1rem;
  text-align: center;
  color: $primary;
}

.form {
  display: flex;
  flex-direction: column;

  .textsContainer {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding-bottom: $spacing-sm;
  }
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $buttonColor;
  color: $grayBackground;
  font-size: $text-md;
  min-width: 120px;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: $buttonColor;
  }
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.span {
  font-size: $text-base;
}

.toggleButton {
  cursor: pointer;
}

.forgotPassword {
  cursor: pointer;
  color: inherit;
  font-size: $text-base;
}

.googleButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleText {
  margin-right: 10px;
  font-size: $text-md !important;
}

.progressCircle {
  width: 16px !important;
  height: 16px !important;
  color: inherit !important;
}

.errorMessage {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: $text-md;
  text-align: center;
  border: 1px solid #f5c6cb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.successMessage {
  background-color: #dcf2c4;
  color: #156f44;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: $text-md;
  text-align: center;
  border: 1px solid #91f397;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}