@use '@/styles/_vars.scss' as *;

.paginationContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .paginationButton {
        display: flex;
        color: $textColor;
        padding: $spacing-sm;

        .paginationButtonImage {
            filter: invert(1);
        }
    }

    .paginationTextContainer {
        color: $textColor;
    }
}

@media (min-width: $breakpoint-xs) {
    .paginationSlash {
        display: none;
    }
}

@media (max-width: $breakpoint-xs) {
    .paginationTextContainer {
        display: flex;

        .paginationText {
            display: none;
        }

        .paginationSlash {
            display: block;
        }
    }
}