@use '@/styles/_vars.scss' as *;

.footer {
    height: 80px;
    padding-block: 34px;
    padding-block: 28px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    border-top: 1px solid $lightblueBorder;
    font-family: $font-family;
}

.nav {
    display: none;
    flex-direction: row;

    color: $textColor;
    font-size: $text-md;
    text-align: center;

    a {
        width: 128px;
    }

    a:nth-child(2) {
        width: 160px;
    }
}

.copyright {
    font-size: 16px;
}

@media (min-width: $breakpoint-md) {
    .footer {
        height: 150px;
        padding-block: 34px;
    }


    .nav {
        display: flex;
        width: 672px;
    }
}