@use '@/styles/_vars.scss' as *;

.footer {
    height: $footerHeight - 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $lightblueBorder;
    font-family: $font-family;
}

.nav {
    display: none;
    flex-direction: row;

    color: $textColor;
    font-size: $text-md;
    text-align: center;

    a {
        width: 128px;
    }

    a:nth-child(2) {
        width: 160px;
    }
}

.copyright {
    font-size: 16px;
}

@media (min-width: $breakpoint-md) {
    .footer {
        height: $footerHeight;
    }


    .nav {
        display: flex;
        width: 672px;
    }
}