@use '@/styles/_vars.scss' as *;

.fallen {
    display: flex;
    flex-direction: row;
    gap: $spacing-md;

    .col {
        gap: $spacing-md;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        border-width: 0px 1px 1px 1px;
        background: $elementGradient;
        border-color: $lightblueBorder;
        border-style: solid;
        border-radius: 0px 0px 10px 10px;
    }

    .rightCol {
        width: 25%;

        .hobbies {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 5px 0;

            .hobby {
                width: 49%;
                display: flex;
                flex-direction: column;
                justify-content: end;
            }
        }
    }

    .middleCol {
        width: 50%;
        gap: $spacing-md;

        .mainTitle {
            font-family: $font-family;
            font-size: $text-xl;
            color: $titleColor;
        }

        .paragraph {
            font-size: $text-base;
            color: $textColor;
            font-family: $font-family;
        }
    }

    .leftCol {
        width: 25%;

        .hobbiesWithData {
            gap: $spacing-md;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .button {
            height: 48px;
        }
    }

}

@media (max-width: $breakpoint-md) {
    .sctionsDivider {
        display: none !important;
    }

    .totalDivider {
        flex-direction: row !important;
    }
}

@media (max-width: 930px) {
    .hobbyBubble {
        aspect-ratio: 0 / 0 !important;
    }

    .fallen {
        flex-direction: column;

        .hobbiesDivider {
            display: none !important;
        }

        .col {
            height: auto;
        }

        .rightCol {
            width: 100%;
        }

        .middleCol {
            width: 100%;
        }

        .leftCol {
            width: 100%;

            .hobbiesWithData {
                flex-direction: column;
            }
        }
    }
}