@use "@/styles/mixins.scss" as *;
@use "@/styles/_vars.scss" as *;

.skeleton {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  height: 40px;
  min-width: 102px;
  border-radius: $border-radius-md;
  border: 1px solid $lightblueBorder;
}

.shimmerWrapper {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  @include shimmer;
}

@media (min-width: $breakpoint-md) {
  .skeleton {
    height: 68px;
  }
}
