@use '@/styles/_vars.scss' as *;
@use '@/styles/_mixins.scss' as *;

/* עיצוב לרווחים למעלה ולמטה */
.element-with-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* עיצוב לכל אחת מהבועות */
.bubblesContainer {
  display: flex;
  justify-content: space-between; /* מיישר את הבועות בצורה שווה */
  gap: 16px;
  flex-wrap: wrap;
  width: 100%; /* להבטיח שה-container ייקח את כל הרוחב */
  .element-with-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.imageWithTitle {
  margin-bottom: 520px; /* רווח בין התמונה לכותרת */
}

