@use '@/styles/_vars.scss' as *;

.link {
    text-align: center;
    width: 100px;
    font-size: $text-md;
    color: $textColor;

    &:hover {
        color: $buttonColor;
    }

    &.active {
        color: $placeHolderColor;
    }
}

.link:nth-child(2) {
    width: 160px;
}

@media (min-width: 1220px) {
    .link {
        width: 128px;
    }
}