@use '@/styles/_vars.scss' as *;

.customBubble {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    width: 100%;
    gap: 40px;
    padding: 10px 0;
    height: min-content;
    flex-direction: row !important;

    .header {
        color: $primary;
        font-weight: bold;
        font-size: $text-lg;
    }
}



.itemsContainerHobby{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    flex-grow: 1;

}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

@media (max-width: $breakpoint-lg) {
    .header {
        text-align: center;
    }

    .customBubble {
        flex-direction: column !important;

    }

    .itemsContainer {
        justify-content: space-evenly;
    }
}

@media (min-width: 1300px) {
    .itemsContainer {
        justify-content: center;
    }
}