@use "@/styles/mixins.scss" as *;
@use "@/styles/_vars.scss" as *;

.skeleton {
  display: inline-block;
  height: 40px;
  width: 150px;
  border-radius: $border-radius-md;
  border: 1px solid $lightblueBorder;
}

.shimmerWrapper {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  @include shimmer;
}

@media (max-width: $breakpoint-md) {
  .skeleton {
      width: 45%;
  }

  .shimmerWrapper {
      width: 100%;
  }
}
