@use '@/styles/_vars.scss' as *;

.formContainer {
    display: flex;
}

.searchInput {
    color: $textColor;
    border: 1px solid $lightblueBorder !important;
    border-radius: 10px !important;
    padding: 10px !important;
    font-weight: 400;
    font-size: $text-sm !important;
    font-family: $font-family !important;
    width: 100%;
    margin-bottom: 0 !important;

    &::placeholder {
        color: $placeHolderColor;
    }
}