@use '@/styles/_vars.scss' as *;

.searchInput {
    color: $textColor;
    border: 1px solid $lightblueBorder;
    border-radius: 15px;
    padding: 10px;
    font-weight: 600;
    font-size: $text-sm;
    font-family: $font-family;
    &::placeholder {
        color: $placeHolderColor;
    }
}