@use '@/styles/_vars.scss' as *;

@use 'sass:color';

.hobbyTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    gap: 10px;
    font-size: 18px;
    color: $bubbleTextColor;
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .dynamicBackground {
        width: 45%;
    }

    .hobbyTag {
        width: 100%;
    }
}