@use '@/styles/_vars.scss' as *;
@use 'sass:color';

.hobbyTag {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: $border-radius;
    height: 40px;
    gap: 10px;
    color: $bubbleTextColor;
    width: 100%;
    
    &:hover {
        cursor: pointer;
    }
    
    &.clickable {
        cursor: pointer;
    }
}

.dynamicBackground {
    // min-width: 100px;
    max-width: 120px;
    flex-grow: 1;
    @media (max-width: $breakpoint-md) {
        width: calc(30% - 5px);
    }
}