@use '@/styles/_vars.scss' as *;

.button {
    color: white;
    background-color: $buttonColor;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius;
    font-size: $text-base;
    font-family: $font-family;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: $titleColor;
    }

    &:disabled {
        opacity: 0.6;
        cursor: auto;
    }
}