@use '@/styles/_vars.scss' as *;

.button {
    color: white;
    background-color: $buttonColor;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: $text-md;
    font-family: $font-family;
    border: none;
    cursor: pointer;
    line-height: 20px;
}