@use '@/styles/_vars.scss'as *;
@import '@/styles/_mixins.scss';


.fallen {
    @include page-layout(200px);
    flex-direction: row;

    .col {
        margin: 0;
        padding: 15px 15px;
        height: 884px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-width: 0px 1px 1px 1px;
        background: $elementGradient;
        border-color: $lightblueBorder;
        border-style: solid;
        border-radius: 0px 0px 10px 10px;
    }

    .rightCol {
        min-width: 335px;

        .hobbies {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 5px 0;
            gap: 15px 0;
        }
    }

    .middleCol {
        width: 690px;

        .mainTitle {
            width: 610px;
            font-family: $font-family;
            font-size: $text-xxl;
            color: $titleColor;
        }

        .paragraph {
            font-size: $text-base;
            color: $textColor;
            font-family: $font-family;
        }
    }

    .leftCol {
        width: 335px;

        .hobbiesWithData {
            gap: 20px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .button {
            height: 40px;
        }
    }

}