@use '@/styles/_vars.scss'as *;
@use '@/styles/_mixins.scss'as *;

.hobbiesWithData {
    gap: $spacing-md;
    display: flex;
    flex-direction: column;
    @include custom-scrollbar;
}

@media (max-width: 930px) {
    .hobbiesWithData {
        flex-direction: column;
    }
}