@use '@/styles/_vars.scss' as *;

.searchContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    width: 100%;
}

@media (max-width: $breakpoint-lg) {
    .searchContainer {
        width: 100%;
        flex-direction: column;
    }
    .searchInput,
    .searchButton {
        width: 100%;
    }
}