@use "@/styles/_vars.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 250px;
  height: 350px;
  font-family: $font-family;

  .profileImage {
    position: relative;
    margin-bottom: 10px;
    border-radius: 60px;
    overflow: hidden;
    object-fit: cover
  }

  .name {
    font-size: $text-md;
    font-weight: 700;
    color: $titleColor;
  }

  .years {
    font-size: $text-sm;
    font-weight: 400;
    color: $textColor;
  }
}