@use '@/styles/_vars.scss' as *;

.hobbiesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-md;
    padding: $spacing-sm 0;
}

@media (max-width: $breakpoint-md) {
    .bubble {
        aspect-ratio: 0 / 0 !important;
    }
}