@use '@/styles/_vars.scss' as *;

.input {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  border: 1px solid $lightblueBorder;
  border-radius: 10px;
  font-size: $text-md;
  font-family: $font-family;
  transition: all 0.3s ease;

  &:focus {
    border-color: var(--blue);
    outline: none;
    box-shadow: 0 0 5px rgba(39, 44, 85, 0.5);
  }

  &::placeholder {
    color: $placeHolderColor;
  }
}