@use '@/styles/_vars.scss' as *;

:root {
    --primary: #FFD700;
}

.title {
    color: $titleColor;
    background: $elementGradient;
    width: 500px;
    height: 100px;
    border: 1px solid $lightblueBorder;
    border-radius: 15px;
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $text-xl;
}