@use '@/styles/_vars.scss' as *;

@mixin page-layout($padding: 200px, $min-height: 100vh) {
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $breakpoint-md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}



@mixin header-layout($padding:200px) {
    padding-inline: 20px;
    
    @media (min-width: $breakpoint-xxl) {
        padding-inline: $padding;
    }
}

//used for main title style
@mixin title{
    color: $primary;
    font-weight: 600;
    font-size: $text-mid-xl;
}

//used for large title style
@mixin largeTitle{
    color: $primary;
    font-weight: 600;
    font-size: $text-xl;
}