@use '@/styles/_vars.scss' as *;

@mixin page-layout($padding: 200px, $min-height: 100vh) {
    padding-left: $padding;
    padding-right: $padding;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $breakpoint-md) {
        padding-left: 20px;
        padding-right: 20px;
    }
}